.home-successtext {
  background: green;
  color: white;
  text-align: center;
  padding: 5px;
  font-size: 18px;
}

.home-errortext {
  background: red;
  color: white;
  text-align: center;
  padding: 5px;
  font-size: 18px;
}

.home-main-container {
  background: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.home-main-heading {
  font-weight: lighter;
  color: #444;
}

.home-sub-heading {
  font-weight: lighter;
  color: #444;
  margin-top: 5px;
  font-size: 17px;
}

.home-paragraph {
  font-weight: lighter;
  color: #444;
  margin-top: 20px;
}

.home-image-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.home-image-box {
  max-width: 500px;
}

.home-app-image {
  width: 100%;
  height: 100%;
}


