* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F0F3F4;
}

.navLinks {
  color: #444;
  text-decoration: none;
  font-size: 17px;
}

.navLinks:hover {
  color: rgb(0, 122, 255);
  text-decoration: underline;
}

.needAccountLink {
  margin-top: 15px;
  display: block;
  text-decoration: underline;
  color: #444;
  font-size: 17px;
}

.needAccountLink:hover {
  color: rgb(0, 122, 255);
}