.image-main-container {
  position: fixed;
  /*background: red;*/
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  width: 500px;
  position: absolute;
}

.image-container-2 {
  width: 600px;
  position: absolute;
  margin-left: 150px; 
}

.image-app-image {
  width: 100%;
  height: 100%;
}