.settings-mainContainer {
  margin-top: 20px;
  margin-bottom: 20px;
  background: white;
  box-shadow: 0px 2px 10px rgba(0,0,0,.2);
  border-radius: 5px;
}

.settings-heading-container {
  text-align: center;
  padding: 15px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background: rgb(58, 61, 80);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.settings-heading {
  color: white;
  font-size: 1.5em;
}

.settings-container {
  background: white;
  margin-top: 20px;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px 10px 15px 10px;
  margin-bottom: 20px;
}

.settings-loop-container {
  margin-top: 20px;
}

.settings-items-Maincontainer {
  border-bottom: 1px solid #ccc;
}

.settings-change-setting-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  margin-top: 15px;
  padding: 10px;
}

.settings-item-container {
  display: flex;
  align-items: center;
}

.settings-item-heading {
  font-weight: bold;
  font-size: 18px;
  color: #444;
}

.settings-item-value {
  margin-left: 10px;
  font-size: 17px;
  color: #333;
}

.settings-item-edit {
  color: white;
  padding: 10px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  background: #878f99;
  border-radius: 5px;
  flex-shrink: 0;
  align-self: flex-start;
}

.settings-item-edit:hover {
  opacity: .5;
}

.settings-item-edit-disabled {
  color: #666;
  cursor: default;
  margin-right: 5px;
}

.settings-emailnotverified {
  margin-top: 5px;
  color: #444;
  font-size: 15px;
}

.settings-email-link {
  color: rgb(0, 125, 255);
  margin-top: 10px;
  cursor: pointer;
}


.settings-item-edit-container {
  display: flex;
  align-self: flex-start;
  align-items: center;
  cursor: pointer;
}

.settings-item-edit-container:hover {
  opacity: .5;
}

.settings-item-edit-arrow {
  color: rgb(0, 125, 255);
  font-size: 20px;
}

.settings-button-container {
  padding: 10px;
}

.settings-button-container:hover {
  opacity: .5;
}

.settings-button {
  width: 100%;
  background: rgb(58, 61, 80);
  color: white;
  padding: 15px;
  font-size: 20px;
  display: block;
  margin-top: 10px;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
}