.settingsM-mainContainer {
  margin-top: 20px;
  background: white;
  box-shadow: 0px 2px 10px rgba(0,0,0,.2);
}

.settingsM-heading-container {
  text-align: center;
  padding: 10px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background: rgb(58, 61, 80);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.settingsM-heading {
  color: white;
  font-size: 1.5em;
}